/*@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,300;1,500&family=Kanit:ital,wght@0,300;1,200;1,300&family=PT+Sans+Narrow:wght@400;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&family=Victor+Mono:wght@100;200;300;400;700&family=Work+Sans:wght@100;200;300&display=swap');*/
*{
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

}
/* html{
    font-size: 63.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
   
}
html::-webkit-scrollbar{
    width: .8rem;
} */
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #000000;
    border-radius: 5rem;
}
body{
    background: #ffffff;
    min-height: 100vh;
    position: relative;

}
.sections-wrapper {
    display: grid;
    grid-template-areas: 
        "header"
        "home"
        "about"
        "menu"
        "thing"
        "shop"
        "contact"
        "card-footer";
    grid-gap: 20px; /* Espacement entre les sections */
  }
 .cart-item .btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .7rem 3rem;
    font-size: 1.7rem;
    color: #ffffff;
    background: rgba(253, 184, 34, 0.973);
    cursor: pointer;

}

.header{
    grid-area: header;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 9%;
    border-bottom: .1px solid rgba(253, 184, 34, 0.973);
    position: fixed;/********/
    top: 0; left: 0; right: 0;
    width: 100%;
    z-index: 1000;
}
.header .circle{
    position: relative;
    top: 40px;
  
}
.header .circle img{
    width: 12rem;
    height: 12rem;
}

  .header .navbar a{
    
   text-decoration: none;
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;

  }
  .header .navbar a:hover{
    color: rgba(253, 184, 34, 0.973);
    border-bottom: .1rem solid rgba(253, 184, 34, 0.973);
    padding-bottom: .5rem;
  }
  .header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    

  }
  .header .icons div:hover{
    color: rgba(253, 184, 34, 0.973);
  }
#menu-btn{
    display: none;
  }
  .header .navbar a.active{
    color: rgba(255, 174, 0, 0.973);

}
 .header .search-form{
    position: absolute;
    top: 115% ;right: 7%;
    background: rgba(252, 211, 122, 0.973);
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin:top ;

  }
  .header .search-form.active{
    transform: scaleY(1); 
  }

  .header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: black;
    padding: 1rem;
    text-transform: none;

  }
  .header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-left: 1.5rem;
    color: black;
  }
  .header .search-form label:hover{
    color: rgba(253, 184, 34, 0.973);
  }
  .header .cart-items-container{
    position: absolute;
    top: 100%; right: -100%;
    height: calc(100vh - 9.5rem);
    width:35rem;
    background: rgba(252, 211, 122, 0.973);
    padding: 0 1.5rem;
  }
  .header .cart-items-container.active{
    right: 0;
  }
  .header .cart-items-container .cart-item{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top: 1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: black;
  }
  .header .cart-items-container .cart-item .fa-times:hover{
    color: rgba(253, 184, 34, 0.973);
  }
  .header .cart-items-container .cart-item img{
    height: 7rem;
  }
  .header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color: black;
    padding-bottom: .5rem;
  }
  .header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color: brown;
    
  }
  .header .cart-items-container .btn{
    width: 100%;
    text-align: center;
    background: rgba(240, 167, 10, 0.973);
  }

  
section{
    padding: 2rem 9%;
}

.home{
    position: relative;
    grid-area: home;

    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #cf4d02;
}
.home::before{
    z-index: 777;
    content: '';
    position: absolute;

    height: 100%;
    width: 100%;
    top: 20%;
    left: 0;

}
.home .content{
    z-index: 888;
    color: #ffffff;
    width: 50%;
    margin-top: 50px;
    display: block;
    margin-left: 50%;
}
.home .content h3 {
    font-size: 5em;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.home .content span{

    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 1em;

    margin: 0;
    padding: 0;
   
}
.home .content p{
 
    margin-bottom:40px ;
    font-size: 20px;
}
.home .content .btn{
  
    background: transparent;
    border: solid 1px rgba(253, 184, 34, 0.973);
    padding: 10px 50px;
    border-radius: 6px;
    font-size: 1.4rem;
   text-decoration: none;
    color: rgba(255, 174, 0, 0.973);
    

}
.home .content .btn:hover{
    background: rgba(253, 184, 34, 0.973);
    color: #000000;
}
.home img{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-navigation{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom:12px;

}
.slider-navigation .nav-btn{
    width: 12px;
    height: 12px;
    background:rgba(255, 255, 255, 0.973) ;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 174, 0, 0.973);
    transition: 0.3s ease;
}
.slider-navigation .nav-btn.active{
    background: rgba(255, 174, 0, 0.973);

}
.slider-navigation .nav-btn:not(:last-child){
    margin-right: 20px;
}
.slider-navigation .nav-btn:hover{
    transform: scale(1.2);

}
.img-slide{
    position: absolute;
    width: 100% ;
    clip-path: circle(0% at 0 50%);
}
.img-slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}

/*****************************about****************************/
.about{
    grid-area: about;
    margin: 8px;
    padding: 8px;
    height: 100%;
} 
.about .heading ,.about span{
    font-size: 4rem;
    text-transform: uppercase;
    pointer-events: none;
    position: relative;  
    margin: 14px;
    padding: 20px;
    justify-content: center;
    text-align: center;
    
}
.about span{
    margin: 0;
    padding: 0;
   
}


.about .cont{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
}
.about .row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    margin-top: 20px;
}
.about .cont .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
    
}.about .cont .col-lg-4 .img{
  width:170px;
  height:150px;
  margin-bottom:1rem;
  box-shadow:rgba(255, 174, 0, 0.973) 6px 6px 6px; 
  filter: drop-shadow(-1em 0 1.5em  rgba(255, 174, 0, 0.973));
}
.about .cont .col-lg-4 .text{
    margin-bottom: 1rem;
    color:black;
    font-size: 2rem;
    font-weight: bolder;
}
.about .cont .col-lg-4 .text ,
.about .cont .col-lg-4 p{
    margin-top: 2rem;
    text-align: center;
    justify-content: center;
}
.about .cont .col-lg-4 p{
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 1.3rem;
}
/*
.about .coffee{
  margin-left:40px;
}
.about .coffee:hover{
 border-radius:5px;
 background:yellow;
 color:rgba(255, 174, 0, 0.973);
}
.about .breakfast:hover{
    border-radius:5px;
    background:yellow;
    color:rgba(255, 174, 0, 0.973);  
}
.about .bean{
   margin-left:50px;

}
.about .breakfast{
    margin-left:30px;  
}
.about .bean:hover{
    border-width: 1px;
    background:yellow; 
    color:rgba(255, 174, 0, 0.973); 
}
*/
/*-----------------------------Section Menu---------------------------------*/
.menu{
    grid-area: menu;

    position: relative;
  
    width: 100%;;
    height:100%;
    margin:0 ;
    padding:30px;
    border-radius:1px;
    background-color: black;
    background-position:center;

   
}

/*.arabic{
 
    max-width:920px;
    height:550px;
    margin:0 auto;
    padding:30px;
    border-radius:1px;
    background-color: black;
   // background-image: url(best.webp);//
    background-position:center;
    position:relative;
    margin-top:-70px;
  
}
*/

.imgch{
    position:absolute;
    height:549px;
    float:right;
    margin-top:-86px;
    margin-left:578px;
    width:300px;
    right: 0;
}

.heart::before {
    content:'';
    position:absolute;
    height:100%;
    width:100%;
    top:-50%;
    background-color:red;
    border-top-left-radius:100%;
    border-top-right-radius:100%;
}

.heart::after{
    content:'';
    position:absolute;
    height:100%;
    width:100%;
    left:-50%;
    background-color:red;
    border-top-left-radius:100%;
    border-bottom-left-radius:100%;
}
.heart ,
.heart1 ,
.heart2 ,
.heart3 , 
.heart4 ,
.heart5{
    background-color:red;
    width:10px;
    height:10px;
    margin:200px;
    transform:rotate(45deg);
    margin-top:-20px;
    margin-left:220px;
}
.heart1::before {
    content:'';
    position:absolute;
    height:100%;
    width:100%;
    top:-50%;
    background-color:red;
    border-top-left-radius:100%;
    border-top-right-radius:100%;
}
.heart1::after{
    content:'';
    position:absolute;
    height:100%;
    width:100%;
    left:-50%;
    background-color:red;
    border-top-left-radius:100%;
    border-bottom-left-radius:100%;
}

.heart2::before{
    content:'';
    position:absolute;
    height:100%;
    width:100%;
    top:-50%;
    background-color:red;
    border-top-left-radius:100%;
    border-top-right-radius:100%;
}
.heart2::after{
    content:'';
    position:absolute;
    height:100%;
    width:100%;
    left:-50%;
    background-color:red;
    border-top-left-radius:100%;
    border-bottom-left-radius:100%;
}

.heart3::before{
    content:'';
    position:absolute;
    height:100%;
    width:100%;
    top:-50%;
    background-color:red;
    border-top-left-radius:100%;
    border-top-right-radius:100%;
}
.heart3::after{
    content:'';
    position:absolute;
    height:100%;
    width:100%;
    left:-50%;
    background-color:red;
    border-top-left-radius:100%;
    border-bottom-left-radius:100%;
}

.heart4::before{
    content:'';
    position:absolute;
    height:100%;
    width:100%;
    top:-50%;
    background-color:red;
    border-top-left-radius:100%;
    border-top-right-radius:100%;
}
.heart4::after{
    content:'';
    position:absolute;
    height:100%;
    width:100%;
    left:-50%;
    background-color:red;
    border-top-left-radius:100%;
    border-bottom-left-radius:100%;
}

.heart5::before{
    content:'';
    position:absolute;
    height:100%;
    width:100%;
    top:-50%;
    background-color:red;
    border-top-left-radius:100%;
    border-top-right-radius:100%;
}
.heart5::after{
    content:'';
    position:absolute;
    height:100%;
    width:100%;
    left:-50%;
    background-color:red;
    border-top-left-radius:100%;
    border-bottom-left-radius:100%;
}
.tit{
    background-image:linear-gradient(to right,
    black,
    white);
    height:400px;
    margin-right:300px;
  
}

.title{
    color:rgba(248, 195, 80, 0.973);
    letter-spacing:1px;
    font-size:30px;
    height:50px;
    margin-left:220px;
    margin-top:-2px;
   /* margin-right:300px;
    margin-top:1px;*/
  /* position:absolute;left:0;top:0;width:10%;height:40px;*/ 
}
.service{
    margin-top:35px;
}
.chiffr ,
.chiffr1 ,
.chiffr2 ,
.chiffr3 ,
.chiffr4 ,
.chiffr5{
    font-size:10px;
   color:white;
    margin-top:-45px;
    margin-left:240px;
}

.cappu{
    font-size:20px;
    color:rgba(247, 216, 148, 0.973);
}
.cappu1{
    font-size:13px;
    color:rgba(250, 248, 242, 0.973);
}
.cappu1::after{
    content:"";
    display:block;
    position:absolute;
    width:28%;
    height:1px;
    background:rgba(255, 174, 0, 0.973);
    margin-top:10px;
}
.service1 ,
.service2{
    margin-top:-150px;
}
.prix1 , .prix2{
    margin-left:90px;
    font-size: 2rem;
}

.prix3 , .prix4{
    margin-left:115px;
    font-size: 2rem;
}
.fappu{
    font-size:20px;
    color:rgba(247, 216, 148, 0.973);
}
.fappu1{
    font-size:13px;
    color:rgba(250, 248, 242, 0.973);

}
.fappu1::after{
    content:"";
    display:block;
    position:absolute;
    width:28%;
    height:1px;
    background:rgba(255, 174, 0, 0.973);
    margin-top:10px;
}

.expre{
    font-size:20px;
    color:rgba(247, 216, 148, 0.973);
}
.expre1{
font-size:13px;
color:rgba(250, 248, 242, 0.973);
}
.expre1::after{
    content:"";
    display:block;
    position:absolute;
    width:28%;
    height:1px;
    background:rgba(255, 174, 0, 0.973);
    margin-top:10px;
}
.service3{
    margin-left:400px;
    margin-top:-424px;
}
.mocha{
    font-size:20px;
    color:rgba(247, 216, 148, 0.973);
}
.mocha1{
 font-size:13px;
color:rgba(250, 248, 242, 0.973);
}
.mocha1::after{
    content:"";
    display:block;
    position:absolute;
    width:28%;
    height:1px;
    background:rgba(255, 174, 0, 0.973);
    margin-top:13px;
}

.service4{
    margin-left:400px;
    margin-top:-145px;
}
.cafe{
    font-size:20px;
    color:rgba(247, 216, 148, 0.973);
}
.cafe1{
    font-size:13px;
    color:rgba(250, 248, 242, 0.973);
}
.cafe1::after{
    content:"";
    display:block;
    position:absolute;
    width:28%;
    height:1px;
    background:rgba(255, 174, 0, 0.973);
    margin-top:10px;
}
.prix5{
    font-size: 2rem;
 margin-left:85px;
}
.service5{
    margin-left:400px;
    margin-top:-150px;
}
.machi{
    font-size:20px;
    color:rgba(247, 216, 148, 0.973);
}
.machi1{
    font-size:13px;
    color:rgba(250, 248, 242, 0.973);
}
.machi1::after{
    content:"";
    display:block;
    position:absolute;
    width:28%;
    height:1px;
    background:rgba(255, 174, 0, 0.973);
    margin-top:10px;
}
.prix6{
    font-size: 2rem;
    margin-left:94px;
}

.btn1, .btn3{
    background:transparent;
    color:rgba(248, 195, 80, 0.973);
    font-size: 1.2rem;
    border:1.4px solid rgba(248, 195, 80, 0.973);
    width:180px;
    margin: 16px;
    padding: 6px 20px;
    border-radius:0.1cm;
    transition:transform 0.2s ease;
}
.btn1,.btn2,.btn3:active{
    transform:scale(0.96);
}
.btn2{
    background:rgba(248, 195, 80, 0.973);
    color:black;
    font-size: 1.2rem;
    border:1.4px solid rgba(248, 195, 80, 0.973);
    width:180px;
    margin: 16px;
    padding: 6px 20px;
    border-radius:0.1cm;
    transition:transform 0.2s ease;
}/*
.btn2:active{
    transform:scale(0.96);
}

.btn3:active{
    transform:scale(0.96);
}*/


.beans{
    color:rgba(240, 167, 10, 0.973);
    letter-spacing:1px;
    font-size:30px;
    height:200px;
    top:0px;
   /* margin-top:25px;*/
   /* position:absolute;left:0;top:0;width:10%;height:40px;*/
    background-image:linear-gradient(to right,
    black,
     white);
  
   
}
.paragraph{
    color:rgb(240, 234, 227);
    font-size:20px;
    position:absolute;left:0;top:0;width:20%;height:100px;
    padding:2em;
    float:left;
    height:330px;
    margin-right:250px;
    position:absolute;
    background-image:linear-gradient(to right,
   black,
    white);
   
   
}
/*.button{
    width:145px;
    height:40px;
    background:transparent;
    margin-left:70px;
    border: solid 3px rgba(255, 174, 0, 0.973);
    position:absolute;width:145px;height:40px;
    padding:6px;
    border-radius:6px;
    text-decoration:none;
    color: rgba(255, 174, 0, 0.973);
    margin-top:270px;

   
}*/
.menu .active{
    display:none;
  
}
.menu1 {
    display:block; 
}
.button:hover{
        background-color: bisque;
        cursor: pointer;
    }
/*************************special things************************/
.thing{
    grid-area: thing;
    position: relative;
    margin: 8px;
    padding: 8px;
    z-index: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
} 


.heading ,span{
    font-size: 4rem;
    text-transform: uppercase;
    pointer-events: none;
    position: relative;  
    margin: 18px;
    padding: 20px;
    justify-content: center;
    text-align: center;
    
}
.thing span{
    padding: 0;
    margin: 0;
}
.thing p{
    margin: 20px;
}
.thing .container{
    position: relative;
    padding: 0px;
    margin-top: 2rem;
    width: 90%;
    background: rgb(248, 214, 174);
}
.thing .container .first{
    border-bottom: 1px solid brown;
}
.thing .container .second{
    border-bottom: 1px solid brown;
}
.thing .container .third{
    border-bottom: 1px solid brown;
}
.thing .container .row{
    margin: 0;
    padding: 0;
    justify-content: center;
 
}
.thing .container .row .col-md-6{
    margin:0;
    padding: 0;

    display: flex;
    height: 100%;
    font-size: 2rem;
}
.thing .container .row .col-md-6 .content{
    margin-top:60px;
    margin: 50px;
    justify-content: center;
    align-items: center;
    
}
.thing .container .row img {
    width: 100%;
    height: 100%;
}
.thing .container .row .col-md-6 h1{
    color: rgba(209, 101, 0, 0.973);
}
.thing .container .row .col-md-6 h1,
.thing .container .row .col-md-6 p{
    padding: 8px 20px ;
    margin: 8px 30px ;
    
}
.thing .container .row .col-md-6 p{
    padding: 8px 30px ;
    line-height: 3rem;
}

/*************************arabic-coffee********************/

.shop{
    grid-area: shop;
    padding: 0;
    position: relative;
    z-index: 1;
    width: 100%;

    display: flex;
    
    background: #fff;
    color: #fff;
    flex-direction: column;
  
    /* Adjust the height to avoid overlapping with the "thing" section */
    min-height: 100%;
    /* Add margin-top to separate it from the "thing" section */
    margin-top: 20px;
}
.shop ::before{
    z-index: 777;
    content:'';
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
}
.shop img{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:400px ;

}
.shop .content {
    max-width: 60rem;
    height: 90%;
    margin: 70px 40px;
}
.shop .content h3 ,.shop .content span {
    margin: 0;
    padding: 0;

    position: relative;
    font-size: 4.5rem;
    text-transform: uppercase;
    margin-bottom: 10px;
   
}
.shop .content .text {
    position: relative;
    margin-bottom:20px ;
    font-size: 20px;

}




.shop .content .btn{

    position: relative;
    border: solid 1.5px rgb(255, 196, 0);
    background-color: transparent;
    color: rgba(255, 175, 1, 0.973);
 
    padding: 6px 50px;
    font-size: 1.4rem;
    border-radius: 0.1cm;
}
.shop .content .btn:hover{
    cursor: pointer;
    color: #000000;
    transition:.02s ;
    background: rgba(240, 167, 10, 0.973);

}

/**********************contact**********************/

.contact{
    grid-area: contact;
    padding: 0;
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.938);
    color:rgb(88, 87, 87);
    flex-direction: column;
    /* Adjust the height to avoid overlapping with the "thing" section */
    min-height: 100%;
    /* Add margin-top to separate it from the "thing" section */
    margin-top: 20px;
}       
.contact .heading{
    color: #000000;
}

.contact .row {
    margin: 9px;
    padding: 8px;

}

.contact .row .col-md-6{
    margin: 0px;
    padding: 6px;
    text-align: left;
    

}
.contact .row .col-md-6 .info{
    display: flex;
    padding: 0px;
    margin: 0px;
  
 
}
.contact .row .col-md-6 .info img{
    font-size: 43px;
    width: 6rem;
    height: 6rem;

}
.contact .row .col-md-6 p{
    font-size: 1.9rem;
    letter-spacing: .2rem;
    padding: 16px;
    margin-bottom: 0;
    bottom: 20%;
    text-align: center;
}
.contact .row .col-md-6 form{
    height: 100%;
    width: 100%;

}
.contact .row .col-md-6 .form-group{
    padding: 4px;
    margin: 0px;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   
}
.contact .row .col-md-6 .form-group input{
    height: 40px;
    width: 100%;
    margin-bottom: 8px;
    border: 1px solid rgba(255,255,255, 0.2);
    background: rgb(216, 213, 213);
    color: rgba(0, 0, 0, 0.9);
    padding: 10px 20px;
    font-size: 1.5rem;
    letter-spacing: 1px;
  
}
.contact .row .col-md-6 .form-group #name{
    background: rgb(216, 213, 213);  
    margin-right: 20px;
    cursor: pointer;
}
.contact .row .col-md-6 .form-group select{
    height: 40px;
    width: 100%;
    margin-bottom: 8px;
    background: rgb(216, 213, 213);
    border: 1px solid rgba(255,255,255, 0.2);
    outline: none;
    padding: 10px 20px;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: rgba(141, 139, 139, 0.9);

}
.contact .row .col-md-6 .form-group textarea{
    height: 40%;
    width: 100%;
    margin-bottom: 8px;
    background: rgb(216, 213, 213);
    border: 1px solid rgba(255,255,255, 0.2);
    outline: none;
    padding: 10px 20px;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.9);
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group select,
.form-group textarea {
  flex: 1;
  margin-right: 5px;
}
.contact .btn {
    margin-top: 10px;
    width:100%;
    background: rgba(240, 167, 10, 0.973);
    color: #000000;
    font-size: 1.5rem;
}
.contact .row .col-md-6 form .btn:hover{
    filter: drop-shadow(0 0 0.75rem rgba(240, 167, 10, 0.973));
    color: #000000;
}
/*********************************footer**************************/

.card-footer{
    grid-area: card-footer;
    padding: 0;
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    background: rgba(54, 54, 54, 0.938);
    color:rgb(88, 87, 87);
    flex-direction: column;
    height: max-content;
    min-height: 100vh;
    margin-top: 20px;
    margin-bottom: 0;
}

.card-footer .logo {
    text-align:center ;justify-content: center;
}
.card-footer .logo img{
    width: 90px;
    height:90px;
    border-radius: 50%;
    margin-top: 10%;

}
.card-footer .container p{
    margin: 40px;
    color: #e7dbdb;
    font-size: 2rem;
}
.card-footer .container .mb-3 .form-control{ 
    color: #fff;
    background: #000000;
    border: none;
    height: 38px;
    width: 60%;
   padding: 16px;
    font-size: 2rem;
}
.card-footer .container .mb-3 .form-control::placeholder {
    color: white;
  }
.card-footer .container .mb-3 .input-group-text{
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color:#fff;
    font-weight: 400;
    background: #000000;
    padding: 0;
    margin: 0;
    border: none;
    width: 4rem;
}

.card-footer footer {
    padding: 8px;
    position: relative;
    bottom: -170px;
    width: 100%;
    height: 60px;
    font-size: 1.5rem;  
    background: rgb(255, 196, 0);
    color: #fff;
}
.card-footer footer p{
    padding: 8px;
    justify-content: center;
    align-items: center;
}




@media(max-width:991px){

    html{
        font-size: 55%;
    }
    .header{
        padding: 1.5rem 2rem;

    }
    section{
        padding: 2rem ;
    }
    .slider-navigation{
        transform: translateY(30px);
        margin-bottom:7px;
    
    }
}


@media(max-width:860px){
    #menu-btn{
        display: inline-block;
     }

    .header .navbar{
        position: absolute;
        top: 100%; right: 100%;
        background: rgba(252, 211, 122, 0.973);
        width: 13rem;
        height: calc(90vh - 9.5rem);
    }
    .header .navbar.active{
        right: 0;
    }
    .header .navbar a{
        color: black;
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }
    .header .search-form{
        border-radius: 30px;
        width: 90%;
        right: 1.5rem;

    }
        .slider-navigation{
            transform: translateY(20px);
            margin-bottom:16px;
        
        }


}
@media(max-width:560px){
    .home .content h3{
        font-size: 2em;
        line-height: 60px;
        margin-bottom: 10px;
    }
    .home .content{
        margin-left: 10%;

    }
    .slider-navigation{
        transform: translateY(50px);
        margin-bottom:16px;
    
    }
}
@media(max-width:450px){

    html{
        font-size: 50%;
      
    }
    .slider-navigation{
        transform: translateY(10px);
        margin-bottom:7px;
    
    }
   
}